{% extends 'base.html.twig' %}


{% block body %}


	<div class="container-fluid" >
		<div class="dashboard">
			<div class="container-fluid">

				{{ musique.titre }}
				<br>

				<div id="formulaire-edit-musique" class="form-group formulaire-add-musique">
							<!--<h2>Formulaire d'ajout d'une vidéo</h2>-->
							{{ form_start(formVideo) }}
							{{ form_widget(formVideo.titre, { attr : { class: 'form-control', placeholder: 'Titre'}})  }}
							{{ form_widget(formVideo.description, { attr : { class: 'form-control', placeholder: 'Description'}})  }}
							{{ form_widget(formVideo.lienYoutube, { attr : { class: 'form-control', placeholder: 'Lien Youtube'}})  }}
							{{ form_widget(formVideo.lienYoutubeFrame, { attr : { class: 'form-control', placeholder: 'Lien Integration'}})  }}
							<br>
							<div class="row">
								<div class="col-md-2">
									{{ form_label(formVideo.new) }} 
									{{ form_widget(formVideo.new, { attr : { class: 'form',}})  }}
								</div>  
								<div class="col-md-3">
									{{ form_label(formVideo.visible) }} 
									{{ form_widget(formVideo.visible, { attr : { class: 'form', }})  }}
								</div> 
								<div class="col-md-7">
									<button type="submit" class="btn btn-secondary btn-form">Modifier</button>
								</div> 
							</div>
							<br>
							{{ form_end(formVideo) }}
						</div>
				
				</div>
			</div>
		</div>

	{% endblock %}