{% extends 'base.html.twig' %}


{% block body %}

	<div class="container" style="margin-bottom: 45px;">
		<br>
	
			<div class="wrapper form-signin content" >

				<h3 class="form-signin-heading">Enregistrement Utilisateur</h3>
				<div class="ligne-magenta"></div>
{# 				<hr class="colorgraph"> #}<br>


				{{ form_start(form)}}

				{{ form_errors(form) }}
				{{ form_widget(form.userName, { attr : { name : '_username' , class: 'form-control', placeholder: 'Username'}})  }}
				{{ form_widget(form.password.first, { attr : { name : '_password' , class: 'form-control', placeholder: 'Password'}})  }}
				{{ form_widget(form.password.second, { attr : { name : '_password' , class: 'form-control', placeholder: 'Confirm Password'}})  }}	
				<button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">Register</button>  	
				{{ form_end(form)}}    		  

			</div>

		</div>


{% endblock %}

{# empty Twig template #}

{# {{ form_start(form)}}
<input type="submit" value="Valider">
{{ form_end(form)}} #}