{% extends 'base.html.twig' %}


{% block body %}

		<div class="dashboard">
			<div class="container-fluid">
                            <br>
				<div class="row">
					<div class="col-md-4">
						<iframe width="100%" height="315" src="{{ video.lienYoutubeFrame}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						<br>
                                                <h2>Modification de la vidéo</h2>
						<div id="formulaire-edit-video" class="form-group formulaire-add-video">
							<!--<h2>Formulaire d'ajout d'une vidéo</h2>-->
							{{ form_start(formVideo) }}
							{{ form_widget(formVideo.titre, { attr : { class: 'form-control', placeholder: 'Titre'}})  }}
							{{ form_widget(formVideo.description, { attr : { class: 'form-control', placeholder: 'Description'}})  }}
							{{ form_widget(formVideo.lienYoutube, { attr : { class: 'form-control', placeholder: 'Lien Youtube'}})  }}
							{{ form_widget(formVideo.lienYoutubeFrame, { attr : { class: 'form-control', placeholder: 'Lien Integration'}})  }}
							<br>
							<div class="row">
								<div class="col-md-2">
									{{ form_label(formVideo.new) }} 
									{{ form_widget(formVideo.new, { attr : { class: 'form',}})  }}
								</div>  
								<div class="col-md-3">
									{{ form_label(formVideo.visible) }} 
									{{ form_widget(formVideo.visible, { attr : { class: 'form', }})  }}
								</div> 
								<div class="col-md-7">
									<button type="submit" class="btn btn-secondary btn-form">Modifier</button>
								</div> 
							</div>
                                                                <hr>
							{{ form_end(formVideo) }}
                                                        <a data-link="{{ path('Admin_suppr_video', {id : video.id}) }}" class="btn btn-warning btn-suppr-image" style="width: 100%; "><span class="glyphicon glyphicon-trash"></span> Supprimer la video</a>
						</div>
					</div>

					<div class="col-md-8">

						<div class="sources">
							<!-- NavBar pour le scrollspy -->
							<nav id="navbar-example2" class="navbar navbar-dark bg-dark">
								<a class="navbar-brand" href="#">Sources</a>
								<ul class="nav nav-pills">
									<li class="nav-item">
										<a class="nav-link" href="#musiques" style="color:rgba(217, 216, 214, 0.94);">Musiques</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#images" style="color:rgba(217, 216, 214, 0.94);">Images</a>
									</li>
                                                                        <li class="nav-item">
										<a class="nav-link" href="#extraits" style="color:rgba(217, 216, 214, 0.94);">Extraits</a>
									</li>
								</ul>
							</nav>
							<!-- Affichage des sources dans un scrollspy -->
							<div data-spy="scroll" data-target="#navbar-example2" data-offset="0" class="source-scroll">
                                                            {% if video.liaisonMusique is not empty %}              

								<h4 id="musiques">Musiques</h4>
								<table class="table table-striped head-source">
									<thead>
										<tr>
											<th scope="col">Titre</th>
											<th scope="col">Artiste</th>
											<th scope="col">Lien</th>
											<th scope="col">Timer</th>
                                                                                        <th></th>
										</tr>
									</thead>
									<tbody>
                                                                            {% for mus in video.liaisonMusique %}
                                                                                <tr>
											<th scope="row">{{ mus.musique.titre }}</th>
											<td>{{ mus.musique.artiste }}</td>
											<td><a href="{{ mus.musique.lien }}" target="_blank">Écouter</a></td>
											<td><span class="badge badge-secondary">{{ mus.timer }}</span></td>
                                                                                        <td><a href="{{ path('Admin_musique_board', {'id': mus.musique.id}) }}" class="glyphicon glyphicon-eye-open"></a></td>
                                                                                        <td><a data-link="{{ path('Admin_suppr_liaisonMusique', {id : mus.id}) }}" class="btn btn-warning btn-suppr-image"><span class="glyphicon glyphicon-remove"></span></a></td>
											</tr>
                                                                            {% endfor %}
									</tbody>
								</table>
                                                                            {% endif %}
{% if video.image.matching(criteria) is not empty %}
                                                           
								<h4 id="images">Images</h4>
								<table class="table table-striped head-source">
									<thead>
										<tr>
											<th scope="col">Titre</th>
											<th scope="col">Artiste</th>
											<th scope="col">Lien</th>
											<th scope="col">Timer</th>
											<th scope="col"></th>
										</tr>
									</thead>
									<tbody>
										{% for image in video.image.matching(criteria) %}
											<tr>
												<th scope="row">{{ image.titre }}</th>
												<td>{{ image.artiste }}</td>
												<td><a href="{{ image.lien }}" target="_blank">Voir</a></td>
												<td><span class="badge badge-secondary">{{ image.timer }}</span></td>
												<td><a data-link="{{ path('Admin_suppr_image', {id : image.id}) }}" class="btn btn-warning btn-suppr-image"><span class="glyphicon glyphicon-remove"></span></a></td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
                                                      {% endif %}
                                                      {% if video.extrait.matching(criteria) is not empty %}
                                                                        
                                                                <h4 id="extraits">Extraits</h4>
								<table class="table table-striped head-source">
									<thead>
										<tr>
											<th scope="col">Titre</th>
											<th scope="col">Auteur</th>
											<th scope="col">Lien</th>
											<th scope="col">Timer</th>
											<th scope="col"></th>
										</tr>
									</thead>
									<tbody>
										{% for extrait in video.extrait.matching(criteria) %}
											<tr>
												<th scope="row">{{ extrait.titre }}</th>
												<td>{{ extrait.auteur }}</td>
												<td><a href="{{ extrait.lien }}" target="_blank">Voir</a></td>
												<td><span class="badge badge-secondary">{{ extrait.timer }}</span></td>
												<td><a data-link="{{ path('Admin_suppr_extrait', {id : extrait.id}) }}" class="btn btn-warning btn-suppr-image"><span class="glyphicon glyphicon-remove"></span></a></td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
                                                                        {% endif %}

							</div>

						</div>
						<br>	
						<div id="formulaire-add-image" class="form-group formulaire-add-image">
							{{ form_start(formImage) }}

							<h2>Ajout d'une image</h2> 
							<div class="row">

								<div class="col-md-2 col-formulaire-add-image">
									{{ form_widget(formImage.titre, { attr : { class: 'form-control ', placeholder: 'Titre'}})  }}
								</div>  
								<div class="col-md-2 col-formulaire-add-image">
									{{ form_widget(formImage.artiste, { attr : { class: 'form-control', placeholder: 'Artiste'}})  }}
								</div>  
								<div class="col-md-5 col-formulaire-add-image">
									{{ form_widget(formImage.lien, { attr : { class: 'form-control', placeholder: 'Lien'}})  }}
								</div>  
								<div class="col-md-1 col-formulaire-add-image">
									{{ form_widget(formImage.timer, { attr : { class: 'form-control', placeholder: 'Timer', format: 'ex: 01:34'}})  }}
								</div> 
								<div class="col-md-2 col-formulaire-add-image">
									<button type="submit" class="btn btn-secondary btn-form">Ajouter</button>
								</div> 
								<br>
								
							</div>
							{{ form_end(formImage) }}
                                                    </div>
                                                    
                                                    
                                                    
                                                    <div id="formulaire-add-extrait" class="form-group formulaire-add-extrait">
							<h2>Ajout d'un extrait</h2> 
                                                        {{ form_start(formExtrait) }}
							<div class="row">
                                                            
                                                            <div class="col-md-2 col-formulaire-add-extrait">
									{{ form_widget(formExtrait.titre, { attr : { class: 'form-control ', placeholder: 'Titre'}})  }}
								</div>  
								<div class="col-md-2 col-formulaire-add-extrait">
									{{ form_widget(formExtrait.auteur, { attr : { class: 'form-control', placeholder: 'Auteur'}})  }}
								</div>  
								<div class="col-md-5 col-formulaire-add-extrait">
									{{ form_widget(formExtrait.lien, { attr : { class: 'form-control', placeholder: 'Lien'}})  }}
								</div>  
								<div class="col-md-1 col-formulaire-add-extrait">
									{{ form_widget(formExtrait.timer, { attr : { class: 'form-control', placeholder: 'Timer', format: 'ex: 01:34'}})  }}
								</div> 
								<div class="col-md-2 col-formulaire-add-extrait">
									<button type="submit" class="btn btn-secondary btn-form">Ajouter</button>
								</div> 
								<br>

							</div>
							{{ form_end(formExtrait) }}
                                                    </div>
                                                    
						
                                                    <div id="formulaire-add" class="form-group formulaire-add-musique">
							<h2>Ajout d'une musique</h2> 
                                                        {{ form_start(formMusique) }}
							<div class="row">

								<div class="col-md-4 col-formulaire-add-musique">
									{{ form_widget(formMusique.musique, { attr : { class: 'form-control select2', placeholder: 'Titre'}})  }}
								</div>
								<div class="col-md-2 col-formulaire-add-musique">
									{{ form_widget(formMusique.timer, { attr : { class: 'form-control', placeholder: 'Timer', format: 'ex: 01:34'}})  }}
								</div> 
								<div class="col-md-2 col-formulaire-add-musique">
									<button type="submit" class="btn btn-secondary btn-form">Ajouter</button>
								</div> 
								<br>
								
							</div>
							{{ form_end(formMusique) }}
                                                    </div>	
					</div>
				</div>
			</div>
		</div>




	{% endblock %}